@model ProductListViewModel

@{ this.ViewData["Title"] = "All Recipes, page " + Model.PageNumber; }
<section class="sample-page container">
    <h1>@this.ViewData["Title"]</h1>

    <hr />
    <div class="row container">
        @foreach (var product in this.Model.Products)
        {
            <div class="card m-2" style="width: 18rem;">
                <a asp-action="ById" asp-route-id ="@product.Id">
                    <img class="card-img-top d-inline-flex p-2 mt-3 rounded-4 " src="@product.ImageUrl" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Price $@product.Price</p>
                    <a asp-action="ById" asp-route-id ="@product.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        }
    </div>
    <hr />
    <partial name="_PagingPartial" model="@Model">
</section>
